<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mzvoting pi2 templates</title>
</head>

<body>
	
	
	
	<h3>Complet Ranking</h3>
	<p>template for the complet Ranking</p>
	<p>###ENTRIES### the ranking entries<br />
	###DATETIME### DATE & TIME of the Ranking</p>
	<!-- ###COMPLETERANKING### begin -->	
		<div>###DATETIME###</div>	
		<div>###ENTRIES###</div>
	<!-- ###COMPLETERANKING### end -->
	
	<hr/>
	
	<h3>Ranking entries</h3>
	<p>template for the ranking entries</p>
	<p>###POSITION### the ranking entries<br />
	###TOTALVOTES### the ranking entries<br />
	###TREND### the ranking entries<br />
	###OPTIONNAME### the ranking entries</p>
	<!-- ###COMPLETERANKINGENTRIE### begin -->	
		<div>###TREND###, ###POSITION###, ###OPTIONNAME###, ###TOTALVOTES###</div>
	<!-- ###COMPLETERANKINGENTRIE### end -->
	
	
	
	
</body>
</html>