<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mzvoting pi2 templates</title>
</head>

<body>
	
	
	
	<h3>Complet Ranking</h3>
	<p>template for the complet Ranking</p>
	<p>###ENTRIES### the ranking entries<br />
	###DATETIME### DATE & TIME of the Ranking</p>
	<!-- ###COMPLETERANKING### begin -->	
		<div>###DATETIME###</div>	
		<div class="tx_mzvoting_pi1_ranking_wrap">
			<ul>
				###ENTRIES###
			</ul>
		</div>
	<!-- ###COMPLETERANKING### end -->
	
	<hr/>
	
	<h3>Ranking entries</h3>
	<p>template for the ranking entries</p>
	<p>###POSITION### the ranking entries<br />
	###TOTALVOTES### the ranking entries<br />
	###TREND### the ranking entries<br />
	###OPTIONNAME### the ranking entries<br />
	###OPTIONLINK### link to page set in TS</p>
	<!-- ###COMPLETERANKINGENTRIE### begin -->	
		<li class="tx_mzvoting_pi1_ranking_wrap_###POSITION###"><a class="tx_mzvoting_pi1_ranking_###TREND### tx_mzvoting_pi1_ranking_###POSITION###" href="###OPTIONLINK###" >###POSITION###. ###OPTIONNAME###</a></li>
	<!-- ###COMPLETERANKINGENTRIE### end -->
	
	<hr/>
	
	<h3>Single Ranking</h3>
	<p>template for the single ranking view</p>
	<p>###POSITION### the ranking entries<br />
	###TOTALVOTES### the ranking entries<br />
	###TREND### the ranking entries<br />
	###OPTIONNAME### the ranking entries</p>
	<!-- ###SINGLERANKING### begin -->	
		
		<div class="tx_mzvoting_pi1_ranking_current">
			<h2>Current ranking</h2>
			<p class="tx_mzvoting_pi1_ranking_current_###TREND###">Place ###POSITION###</p><p>
		</p></div>
		
	<!-- ###SINGLERANKING### end -->
	
	
	
	
</body>
</html>