<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>recommendation mail template</title>
</head>

<body>


<h3>recommendation mail template</h3>
<p>	###FROM_NAME###<br />
		###FROM_MAIL###<br />
		###URL###<br />
		###TO_MAIL###<br />
</p>
	<!-- ###MAIL### begin -->	
	<p>Hey ###TO_MAIL###</p>
	<p>###FROM_NAME### (###FROM_MAIL###) recommends you the following Link:<br />
    ###URL##</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
<p>&nbsp;</p>
	<!-- ###MAIL### end -->
</body>
</html>